<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Gossip Project</title>
    </head>
    <body class="p-3 mb-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Subscribe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">new</a>
            </li>
            </ul>
        </div>
    </nav>

    <p class="display-3 text-center  mt-5 mb-5">Welcome to the gossip project</p>

     <% @users.each do |user| %>
        <div class="card row col-md-3 mb-4 mr-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= user.username %></h5>
            <p class="card-text"><%= user.email %></p>
            <p class="card-text"><%= user.bio %></p>
        </div>
        </div>
    <% end %>      
    <footer>
      <div class="container">
        <span class="text-muted">This is the fucking footer</span>
      </div>
    </footer>    
    </body>   
</html>